/* Definitions of colors */
:root {
    --navbarWidth: 500px;
    --accent-color: #1c1b22;
    --prim: #3acbaf;
    --prim-dark: #3acbaf70;
    --selected-tab: #2a2a35;
}

#navigator-toolbox {
    border-bottom: 1px solid var(--prim-dark) !important;
}

#titlebar {
    background: var(--accent-color) !important;
}

/* Removes "padding" left and right from tabs */
.titlebar-spacer {
    display: none !important;
}

/* Sets the toolbar color */
toolbar#nav-bar {
    background: var(--accent-color) !important;
    box-shadow: none !important;
}

#nav-bar {
    box-shadow: none !important;
}

/* Sets the URL bar color */
#urlbar {
    background: var(--accent-color) !important;
}

/* Fixes URL bar overlapping elements */
#urlbar-container {
    min-width: initial !important;
}

#urlbar-background {
    background: var(--accent-color) !important;
    border: none !important;
}

#urlbar-input-container {
    border: none !important;
}

/* If the window is wider than 1000px, use flex layout */
@media (min-width: 1000px) {
    #navigator-toolbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*  Url bar  */
    #nav-bar {
        order: 1;
        width: var(--navbarWidth);
    }

    /* Tab bar */
    #titlebar {
        order: 2;
        width: calc(100vw - var(--navbarWidth) - 1px);
    }

    /* Bookmarks bar */
    #PersonalToolbar {
        order: 3;
        width: 100%;
    }

    /* Fix urlbar sometimes being misaligned */
    :root[uidensity="compact"] #urlbar {
        --urlbar-toolbar-height: 39.60px !important;
    }

    :root[uidensity="touch"] #urlbar {
        --urlbar-toolbar-height: 49.00px !important;
    }
}

/* Hides back and forward buttons when disabled */
#back-button, #forward-button {
    transform: scale(1, 1) !important;
    transition:
        margin-left 150ms var(--animation-easing-function),
        opacity 250ms var(--animation-easing-function),
        transform 350ms var(--animation-easing-function) !important;
}

#back-button[disabled="true"], #forward-button[disabled="true"] {
    margin-left: -34px !important;
    opacity: 0 !important;
    transform: scale(0.8, 0.8) !important;
    pointer-events: none !important;
}

/* Removes UI elements that just take space */
#identity-box,
#tracking-protection-icon-container,
#page-action-buttons > :not(#urlbar-zoom-button, #star-button-box),
#urlbar-go-button,
#alltabs-button,
#fxa-toolbar-menu-button {
    display: none !important;
}

/* Removes gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

/* Changes background of selected tab and adds top border */
.tab-background:is([selected], [multiselected]) {
    background-color: var(--selected-tab) !important;
    border-top: 1px solid var(--prim) !important;
}

/* Loading animation color */
#tabbrowser-tabs {
    --tab-loading-fill: var(--prim) !important;
}

/* Hides the hamburger menu */
#PanelUI-menu-button {
    padding: 0px !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
    width: 1px !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
    padding: 0px !important;
}

/* Recolors toolbar buttons */
#back-button,
#forward-button,
#stop-reload-button,
#unified-extensions-button,
#tabs-newtab-button,
.tab-close-button {
    color: var(--prim-dark) !important;
}

#star-button {
    fill: var(--prim-dark) !important;
}

#back-button:hover,
#forward-button:hover,
#stop-reload-button:hover,
#unified-extensions-button:hover,
#tabs-newtab-button:hover,
.tab-close-button:hover {
    color: var(--prim) !important;
}

#star-button:hover {
    fill: var(--prim) !important;
}

/* Sets selection color in search bar */
#urlbar-input::selection {
    background-color: var(--prim-dark) !important;
}
